
# pixi environments
.pixi
*.egg-info

# python artifacts
__pycache__/
*.py[cod]
*.so
.ipynb_checkpoints/
.DS_Store

# build artifacts
build/
dist/
dist-conda/
.pytest_cache/
.ruff_cache/

# docs build artifacts
docs/build/
docs/_build/
docs/.history/
docs/*.html
docs/*/*.html
docs/searchindex.js
docs/objects.inv
docs/.buildinfo
