
# pixi environments
.pixi
*.egg-info

# python artifacts
__pycache__/
*.py[cod]
*.so

# build artifacts
build/
dist/
dist-conda/
.pytest_cache/
.ruff_cache/

# docs build artifacts
docs/build/
docs/_build/
